<div class="container margincontainer">
	<div class="row">
		<div class="col-sm-12">
			<p class="tittle">О компании</p>
		</div>
	</div>
</div>
<div class="container margincontainer">
	<div class="row">
		<div class="col-sm-12">
			<p style="text-align: center;"><iframe class="videomainblock" src="https://www.youtube.com/embed/VaZeMnW7puI" frameborder="0"  allowfullscreen></iframe></p>
			<p>Компания ТМК основана в 1998 г. В настоящее время наш завод по производству пластиковых окон является одним из крупнейших и высокотехнологичных в России.</p>
		</div>
	</div>
</div>