<div class="container margincontainer">
	<div class="zamershik1">
		<div class="col100">
			<p class="tittlezamershik">Нужны окна по индивидуальному проекту?</p>
			<p class="textzamershik">Позвоните нам по телефону</p>
				<p class="textzamershik"><a class="phonezamershik" href="tel:+74822222111">8 (4822) 222-111</a></p>
				<p class="textzamershik">или оставьте заявку</p>
			<div class="col50">
				<p class="textzamershik"><a class="enjoy-css">Вызвать замерщика</a></p>
				<p class="textzamershik">СДЕЛАЕМ!</p>
				<p class="textzamershik">Рассчитаем за 15 минут</p>
			</div>
			<div class="col50"></div>
		</div>
	</div>
</div>