<div class="container margincontainer">
	<div class="footer">
		<div class="col100 footermenu">
			<ul>
				<li><a href="/">Окна ПВХ</a></li>
				<li><a href="/balcon">Балконы</a></li>
				<li><a href="/dveri">Двери</a></li>
				<li><a href="/nestandartnye-okna">Нестандартные окна</a></li>
			</ul>
		</div>
		<div class="col100">
			<div class="col33 Facebook"><img src="/img/youtube.png"></div>
			<div class="col33 instagram"><img src="/img/instagram.png"></div>
			<div class="col33 VK"><img src="/img/VK.png"></div>
		</div>
		<div class="col100">
			<p class="textalign phonefooter"><a href="tel:+74742900468">8 (4742) 90-04-68</a></p>
		</div>
		<div class="col100">
			<p class="textalign"><a class="enjoy-css" href="#" style="cursor: pointer;" data-toggle="modal" data-target="#myModal">Вызвать замерщика</a></p>
		</div>
	</div>
		  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <script id="bx24_form_inline" data-skip-moving="true">
        (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
                (w[b].forms=w[b].forms||[]).push(arguments[0])};
                if(w[b]['forms']) return;
                var s=d.createElement('script');s.async=1;s.src=u+'?'+(1*new Date());
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://tmk24.bitrix24.ru/bitrix/js/crm/form_loader.js','b24form');

        b24form({"id":"12","lang":"ru","sec":"9cg25i","type":"inline"});
</script>
        </div>
      </div>
    </div>
  </div>
</div>
