<div class="container margincontainer">
	<div class="zamershik">
		<div class="col100">
			<p class="tittlezamershik">Вызовите замерщика - поможем определиться!</p>
			<p class="textzamershik">Позвоните нам по телефону</p>
			<p class="textzamershik"><a class="phonezamershik" href="tel:+74822222111">8 (4822) 222-111</a></p>
			<p class="textzamershik">или оставьте заявку</p>
			<div class="col50">
				<p class="textzamershik"><a href="#" class="enjoy-css" style="cursor: pointer;" data-toggle="modal" data-target="#myModal">Вызвать замерщика</a></p>
				<p class="textzamershik">Это бесплатно!</p>
				<p class="textzamershik">Приедем сегодня до 14:00</p>
			</div>
			<div class="col50"></div>
		</div>
	</div>
</div>